@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Merriweather Sans", serif;
    background-color: #b9c0c4;
    text-align: center;
}

.header-text, button, a {
    font-family: "Fjalla One", serif;
}

.company-name {
    color: white;
    padding-left: 10px
}

#tentacles {
    width: 45px;
}

.header {
    display: flex;
    background-color: #3a494f;
    padding: 0.5%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.main-page {
    padding: 10px 20px;
}

.welcome-container {
    margin-bottom: 40px;
}
.stats-container {
    display: flex;
    align-items: center;
}

.stats-card:hover {
    background-color: #F2F2F2;
}

.stats-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px #787878;
}

#num-contributions, #total-raised, #num-games {
    font-family: "Fjalla One", serif;
    font-size: 40px;
}

#games-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#games-section {
    margin-top: 40px;
}

.game-img {
    width: 100%;
    border-radius: 10px;
}

.game-name {
    font-size: 18px;
}

.game-card {
    background-color: #FFFFFF;
    padding: 10px;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px #787878;
}

.game-card:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

#button-container {
    text-align: center;
}

button, a {
    border: none;
    padding: 1%;
    width: 20%;
    margin: 1%;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #3a494f;
    font-size: 16px
}

button:hover {
    box-shadow: 0 3px 6px #747A7A;
}

a {
    margin-left: auto;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}